
<header class="grid-middle">
  <nav class="col-6 company-logo">
    <a href="/index.html"> RetreatLux. </a>
  </nav>

  <nav class="col-3 center">
    <a href="/about.html"> About </a>
    <a href="/blog.html"> Blog </a>
    <a href="/contact.html"> Contact </a>
  </nav>

  <nav class="col-3 header-social">
    <a href="http//twitter.com">
      <i class="fa fa-twitter-square"></i>
    </a>
    <a href="http//facebook.com">
        <i class="fa fa-facebook-official"></i>
    </a>
    <a href="http//instagram.com">
      <i class="fa fa-instagram"></i>
     </a>
    <a href="http//pinterest.com">
      <i class="fa fa-pinterest-square"></i>
    </a>
  </nav>
</header>
